<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="/socket.io/socket.io.js"></script>
    <script type="application/javascript" src="javascripts/index.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-content">
        <img class="header-image" src="images/full_logo.png">
        <h3 class="header-slogan">Skip the setup. Get right to the fun part.</h3>
        <button class="btn btn-center">begin</button>
        <img class="header-down-arrow" src="images/arrow-down-2-icon.gif">
      </div>
    </div>
    <div class="step">
      <h1>Step 1</h1>
      <p>Enter a name for your project</p>
      <form action="">
        <input id="name" type="text" title="Name">
      </form>
      <p>Select a framework</p>
      <form action="">
        <input type="radio" name="framework" value="angular" title="angular"> Angular 6+ <br>
        <input type="radio" name="framework" value="node" title="angular"> NodeJS / Express <br>
        <input type="radio" name="framework" value="vue" title="angular"> VueJS <br>
        <input type="radio" name="framework" value="react" title="angular"> ReactJS <br>
      </form>
    </div>
    <div class="step">
      <h1>Final Step</h1>
      <button id="generate-button" class="btn">generate</button>
      <button id="delete-button" class="btn">remove</button>
      <div id="output" class="console"></div>
    </div>
  </body>
</html>
